<!DOCTYPE html>
<html lang="pt_BR">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Painel de Controle</title>
        <link rel="stylesheet" href="/styles/global.css" />
        <link rel="stylesheet" href="/styles/control-panel.css" />
    </head>
    <body>
        <header>
            <div class="center">
                <a href="/admin/control-panel" class="logo">
                    <h1>Painel de <span>Controle</span></h1>
                </a>

                <a href="/admin/exit">Sair</a>
            </div>
        </header>

        <main>
            <div class="createPost">
                <fieldset>
                    <legend>Criar <span>Publicação</span></legend>
                    <form
                        enctype="multipart/form-data"
                        action="/admin/register-post"
                        method="POST"
                    >
                        <div class="input">
                            <label for="title">Título da Publicação:</label>
                            <input type="text" name="title" id="title" />
                        </div>

                        <div class="input">
                            <label for="author">Autor da Publicação</label>
                            <input type="text" name="author" id="author" />
                        </div>

                        <div class="input">
                            <label for="imagePost" class="importImg"
                                >Importar Imagem</label
                            >
                            <input type="file" name="image" id="imagePost" />
                        </div>

                        <div class="input">
                            <label for="slug">URL Personalizado</label>
                            <input
                                type="text"
                                name="slug"
                                id="slug"
                                placeholder="minha-publicacao"
                            />
                        </div>

                        <div class="input">
                            <label for="category">Categoria</label>
                            <input type="text" name="category" id="category" />
                        </div>

                        <div class="input">
                            <label for="contentDescription"
                                >Conteúdo Descritivo</label
                            >
                            <textarea
                                name="description"
                                id="contentDescription"
                            ></textarea>
                        </div>

                        <button type="submit">Adicionar Publicação</button>
                    </form>
                </fieldset>
            </div>

            <div class="listPosts">
                <h3>Lista de Publicações</h3>
                <ul>
                    <% posts.forEach(post => {%>
                    <li>
                        <h3><%= post.titulo %></h3>
                        <div class="links">
                            <a href="/<%=post.slug%>">Acessar</a>
                            <a href="/admin/delete/<%=post._id%>">Excluir</a>
                        </div>
                    </li>
                    <% }) %>
                </ul>
            </div>
        </main>
    </body>
</html>
