<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head.html') %>
    <body>
        <%- include('partials/header.html') %>

        <main>
            <section id="search">
                <div class="title-search">
                    <h4>Resultados da pesquisa: <%= nameResult %></h4>
                    <p>Encontrados: <%= results %></p>
                </div>
                <div class="content">
                    <div class="news">
                        <% if(results > 0) { posts.forEach(post => { %>
                        <div class="card-news">
                            <div
                                class="image"
                                style="
                                    background: var(--purple)
                                        url(<%=post.imagem%>) no-repeat
                                        center/cover;
                                "
                            ></div>
                            <div class="description">
                                <p><%= post.categoria %></p>
                                <h3 title="<%=post.titulo%>">
                                    <%= post.titulo %>
                                </h3>
                                <p><%- post.conteudo.substr(0, 200) %></p>
                                <a href="/<%= post.slug %>">Ler mais</a>
                            </div>
                        </div>
                        <% })} else { %>
                        <p class="notFoundNews">Nenhum Resultado Encontrado</p>
                        <%}%>
                    </div>
                    <div class="mostRead">
                        <div class="title">
                            <h3>As Mais Lidas</h3>
                        </div>
                        <div class="content-mostRead">
                            <% postsTop.forEach(post => { %>
                            <div class="card-mostRead">
                                <div
                                    class="image"
                                    style="
                                        background: var(--purple)
                                            url(<%=post.imagem%>) no-repeat
                                            center/cover;
                                    "
                                ></div>
                                <div class="description">
                                    <p><%= post.categoria %></p>
                                    <p><%- post.conteudo.substr(0, 100) %></p>
                                    <a href="/<%= post.slug %>">Saiba mais</a>
                                </div>
                            </div>
                            <% }) %>
                        </div>
                    </div>
                </div>
            </section>
        </main>

        <%- include('partials/footer.html') %>
    </body>
</html>
