<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head.html') %>
    <body>
        <%- include('partials/header.html') %>
        <main>
            <section id="news-singlePage">
                <div class="content-news">
                    <h2><%=postSingle.titulo%></h2>
                    <p class="author">Por <%=postSingle.author%></p>
                    <div class="img">
                        <img src="<%=postSingle.imagem%>" alt="" />
                    </div>
                    <%-postSingle.conteudo%>
                </div>

                <div class="mostRead">
                    <div class="title">
                        <h3>As Mais Lidas</h3>
                    </div>
                    <div class="content-mostRead">
                        <%postsTop.forEach((postTop) => {%>
                        <div class="card-mostRead">
                            <div
                                class="image"
                                style="
                                    background: var(--purple)
                                        url(<%=postTop.imagem%>) no-repeat
                                        center/cover;
                                "
                            ></div>
                            <div class="description">
                                <p><%=postTop.titulo%></p>
                                <p><%-postTop.conteudo.substr(0,100)%></p>
                                <a href="/<%=postTop.slug%>">Ler mais</a>
                            </div>
                        </div>
                        <%})%>
                    </div>
                </div>
            </section>
        </main>
        <%- include('partials/footer.html') %>
    </body>
</html>
