<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head.html') %>
    <body>
        <%- include('partials/header.html') %>
        <main>
            <section id="news-singlePage">
                <div class="content-news">
                    <h2>Meu titulo da página</h2>
                    <p class="author">Por Bruno Guerra</p>
                    <p class="text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Quas, nostrum delectus velit quam ad libero amet
                        distinctio consequatur quod, sit temporibus in, culpa
                        impedit ipsa aspernatur eligendi saepe! Eaque,
                        voluptates.
                    </p>
                    <p class="text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Accusantium, nisi similique quia numquam fugiat non
                        suscipit iure sit repellendus est neque aut ex eum
                        nesciunt unde, ullam, consequatur enim aperiam.
                    </p>
                    <p class="text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Consequatur illo deleniti ullam asperiores recusandae
                        suscipit nam delectus cum quia quis optio amet, culpa
                        esse quisquam aliquam illum dolores. Esse, pariatur.
                    </p>
                    <h3>Meu subtitulo da página</h3>
                    <p class="text">
                        Lorem ipsum dolor sit amet consectetur, adipisicing
                        elit. Voluptatem dignissimos aliquam dicta aspernatur
                        dolor hic, delectus et impedit, tenetur aliquid
                        assumenda odit nisi laborum rerum perferendis architecto
                        quis cum earum?
                    </p>
                    <p class="text">
                        Lorem, ipsum dolor sit amet consectetur adipisicing
                        elit. Inventore iusto nemo velit aliquid ullam
                        doloremque culpa dolor quam commodi earum nihil voluptas
                        dolores quod rerum aut minus, minima dignissimos
                        corporis?
                    </p>
                    <p class="text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Repellendus fugiat quod dolore, est porro assumenda
                        mollitia natus quasi tempora beatae ex, odit placeat
                        exercitationem iure illum consequuntur amet animi!
                        Aliquam!
                    </p>
                </div>

                <div class="mostRead">
                    <div class="title">
                        <h3>As Mais Lidas</h3>
                    </div>
                    <div class="content-mostRead">
                        <div class="card-mostRead">
                            <div class="image">
                                <img src="" alt="" />
                            </div>
                            <div class="description">
                                <p>Natureza</p>
                                <p>
                                    Lorem ipsum dolor sit amet consectetur
                                    adipisicing elit. Soluta ipsam excepturi
                                    impedit, dolorum expedita laboriosam quia
                                    labore, culpa debitis minus quis adipisci
                                    velit pariatur voluptatem ut corporis nulla
                                    accusantium sequi.
                                </p>
                                <a href="/natureza">Ler mais</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <%- include('partials/footer.html') %>

        <script
            type="module"
            src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
        ></script>
        <script
            nomodule
            src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
        ></script>
    </body>
</html>
