<footer>
    <p>
        Desenvolvido por
        <a href="https://www.bruno-guerra.dev">Bruno Guerra</a>.
    </p>
</footer>

<script
    type="module"
    src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
></script>
<script
    nomodule
    src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
></script>
